/* [project]/src/components/Centerblock/centerblock.module.css [app-client] (css) */
.centerblock-module__88FiWG__centerblock {
  flex-grow: 3;
  width: auto;
  padding: 20px 40px 20px 111px;
}

.centerblock-module__88FiWG__centerblock__search {
  border-bottom: 1px solid #4e4e4e;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 51px;
  display: flex;
}

.centerblock-module__88FiWG__search__svg {
  stroke: #fff;
  fill: #0000;
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.centerblock-module__88FiWG__search__text {
  color: #fff;
  background-color: #0000;
  border: none;
  flex-grow: 100;
  padding: 13px 10px 14px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__search__text::-webkit-input-placeholder {
  color: #fff;
  background-color: #0000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__search__text:-ms-placeholder-shown {
  color: #fff;
  background-color: #0000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__search__text::placeholder {
  color: #fff;
  background-color: #0000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__centerblock__h2 {
  letter-spacing: -.8px;
  color: #fff;
  margin-bottom: 45px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.centerblock-module__88FiWG__centerblock__filter {
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  display: flex;
}

.centerblock-module__88FiWG__centerblock__content {
  flex-direction: column;
  display: flex;
}

.centerblock-module__88FiWG__filter__title {
  color: #fff;
  margin-right: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__filter__button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 60px;
  padding: 6px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__filter__button:not(:last-child) {
  margin-right: 10px;
}

.centerblock-module__88FiWG__content__title {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.centerblock-module__88FiWG__content__playlist {
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}

.centerblock-module__88FiWG__playlistTitle__col {
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__playlistTitle__svg {
  fill: #0000;
  stroke: #696969;
  width: 12px;
  height: 12px;
}

.centerblock-module__88FiWG__col01 {
  width: 447px;
}

.centerblock-module__88FiWG__col02 {
  width: 321px;
}

.centerblock-module__88FiWG__col03 {
  width: 245px;
}

.centerblock-module__88FiWG__col04 {
  text-align: end;
  width: 60px;
}

.centerblock-module__88FiWG__playlist__item {
  width: 100%;
  margin-bottom: 12px;
  display: block;
}

.centerblock-module__88FiWG__playlist__track {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.centerblock-module__88FiWG__track__title {
  flex-direction: row;
  align-items: center;
  width: 447px;
  display: flex;
}

.centerblock-module__88FiWG__track__titleImage {
  background: #313131;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  margin-right: 17px;
  padding: 16px;
  display: flex;
}

.centerblock-module__88FiWG__track__titleSvg {
  fill: #0000;
  stroke: #4e4e4e;
  width: 18px;
  height: 17px;
}

.centerblock-module__88FiWG__track__titleLink {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__track__titleSpan {
  color: #4e4e4e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__track__author {
  justify-content: flex-start;
  width: 321px;
  display: flex;
}

.centerblock-module__88FiWG__track__authorLink {
  color: #fff;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__track__album {
  width: 245px;
}

.centerblock-module__88FiWG__track__albumLink {
  color: #696969;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__track__timeSvg {
  fill: #0000;
  stroke: #696969;
  width: 14px;
  height: 12px;
  margin-right: 17px;
}

.centerblock-module__88FiWG__track__timeText {
  text-align: right;
  color: #696969;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock-module__88FiWG__track__time {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.centerblock-module__88FiWG__track__title-text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/*# sourceMappingURL=src_components_Centerblock_centerblock_module_css_bad6b30c._.single.css.map*/