/* [project]/src/app/page.css [app-client] (css) */
.wrapper {
  background-color: #383838;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  background-color: #181818;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.main {
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-between;
  display: flex;
}

.main__nav {
  background-color: #181818;
  width: 244px;
  padding: 20px 0 20px 36px;
}

.nav__logo {
  background-color: #0000;
  width: 113.33px;
  height: 43px;
  margin-bottom: 20px;
  padding: 13px 0;
}

.nav__burger {
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 36px;
  padding: 13px 0;
  display: flex;
}

.nav__menu {
  visibility: visible;
  display: block;
}

.logo__image {
  color: #181818;
  width: 113.33px;
  height: 17px;
}

.burger__line {
  background-color: #d3d3d3;
  width: 100%;
  height: 1px;
  display: inline-block;
}

.menu__list {
  padding: 18px 0 10px;
}

.menu__item {
  margin-bottom: 16px;
  padding: 5px 0;
}

.menu__link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.centerblock {
  flex-grow: 3;
  width: auto;
  padding: 20px 40px 20px 111px;
}

.centerblock__search {
  border-bottom: 1px solid #4e4e4e;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 51px;
  display: flex;
}

.search__svg {
  stroke: #fff;
  fill: #0000;
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.search__text {
  color: #fff;
  background-color: #0000;
  border: none;
  flex-grow: 100;
  padding: 13px 10px 14px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.search__text::-webkit-input-placeholder {
  color: #fff;
  background-color: #0000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.search__text:-ms-placeholder-shown {
  color: #fff;
  background-color: #0000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.search__text::placeholder {
  color: #fff;
  background-color: #0000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.centerblock__h2 {
  letter-spacing: -0.8px;
  color: #fff;
  margin-bottom: 45px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.centerblock__filter {
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  display: flex;
}

.centerblock__content {
  flex-direction: column;
  display: flex;
}

.filter__title {
  color: #fff;
  margin-right: 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.filter__button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 60px;
  padding: 6px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

.content__title {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.content__playlist {
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}

.playlistTitle__col {
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.playlistTitle__svg {
  fill: #0000;
  stroke: #696969;
  width: 12px;
  height: 12px;
}

.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}

.col04 {
  text-align: end;
  width: 60px;
}

.playlist__item {
  width: 100%;
  margin-bottom: 12px;
  display: block;
}

.playlist__track {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.track__title {
  flex-direction: row;
  align-items: center;
  width: 447px;
  display: flex;
}

.track__titleImage {
  background: #313131;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  margin-right: 17px;
  padding: 16px;
  display: flex;
}

.track__titleSvg {
  fill: #0000;
  stroke: #4e4e4e;
  width: 18px;
  height: 17px;
}

.track__titleLink {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.track__titleSpan {
  color: #4e4e4e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.track__author {
  justify-content: flex-start;
  width: 321px;
  display: flex;
}

.track__authorLink {
  color: #fff;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.track__album {
  width: 245px;
}

.track__albumLink {
  color: #696969;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.track__timeSvg {
  fill: #0000;
  stroke: #696969;
  width: 14px;
  height: 12px;
  margin-right: 17px;
}

.track__timeText {
  text-align: right;
  color: #696969;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main__sidebar {
  max-width: 418px;
  padding: 20px 90px 20px 78px;
}

.sidebar__personal {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 0 15px;
  display: flex;
}

.sidebar__personalName {
  color: #fff;
  margin-right: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sidebar__icon {
  cursor: pointer;
  background-color: #313131;
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.sidebar__block {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding: 240px 0 0;
  display: flex;
}

.sidebar__list {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.sidebar__item {
  width: 250px;
  height: 150px;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 30px;
}

.sidebar__link {
  width: 100%;
  height: 100%;
}

.sidebar__img {
  width: 100%;
  height: auto;
}

.bar {
  background: #1c1c1c80;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bar__content {
  flex-direction: column;
  display: flex;
}

.bar__playerProgress {
  background: #2e2e2e;
  width: 100%;
  height: 5px;
}

.bar__playerBlock {
  flex-direction: row;
  justify-content: space-between;
  height: 73px;
  display: flex;
}

.bar__player {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.bar__volumeBlock {
  align-items: center;
  width: auto;
  padding: 0 92px 0 0;
  display: flex;
}

.player__controls {
  flex-direction: row;
  padding: 0 27px 0 31px;
  display: flex;
}

.player__btnPrev,
.player__btnPlay,
.player__btnNext,
.player__btnRepeat,
.player__btnShuffle {
  align-items: center;
  padding: 5px;
  display: flex;
}

.player__btnPrev {
  margin-right: 23px;
}

.player__btnPrevSvg {
  width: 15px;
  height: 14px;
}

.player__btnPlay {
  margin-right: 23px;
}

.player__btnPlaySvg {
  fill: #d9d9d9;
  width: 22px;
  height: 20px;
}

.player__btnNext {
  fill: #a53939;
  margin-right: 28px;
}

.player__btnNextSvg {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.player__btnRepeat {
  margin-right: 24px;
}

.player__btnRepeatSvg {
  fill: #0000;
  stroke: #696969;
  width: 18px;
  height: 12px;
}

.player__btnShuffle {
  align-items: center;
  display: flex;
}

.player__btnShuffleSvg {
  fill: #0000;
  stroke: #696969;
  width: 19px;
  height: 12px;
}

.player__trackPlay {
  flex-direction: row;
  display: flex;
}

.trackPlay__contain {
  width: auto;
  display: -ms-grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'image author'
    'image album';
  align-items: center;
  display: grid;
}

.trackPlay__image {
  -ms-grid-row-span: 2;
  background-color: #313131;
  grid-area: image;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  margin-right: 12px;
  display: flex;
}

.trackPlay__svg {
  fill: #0000;
  stroke: #4e4e4e;
  width: 18px;
  height: 17px;
}

.trackPlay__author {
  grid-area: author;
  min-width: 49px;
}

.trackPlay__authorLink {
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.trackPlay__album {
  grid-area: album;
  min-width: 49px;
}

.trackPlay__albumLink {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.trackPlay__likeDis {
  flex-direction: row;
  align-items: center;
  margin-left: 26%;
  display: flex;
}

.trackPlay__like,
.trackPlay__dislike {
  padding: 5px;
}

.trackPlay__likeSvg {
  fill: #0000;
  stroke: #696969;
  width: 14px;
  height: 12px;
}

.trackPlay__dislike {
  margin-left: 28.5px;
}

.trackPlay__dislikeSvg {
  fill: #0000;
  stroke: #696969;
  width: 14.34px;
  height: 13px;
}

.volume__content {
  flex-direction: row;
  justify-content: end;
  align-items: center;
  display: flex;
}

.volume__image {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volume__svg {
  fill: #0000;
  width: 13px;
  height: 18px;
}

.volume__progress {
  align-items: center;
  width: 109px;
  display: flex;
}

.volume__progressLine {
  appearance: none;
  cursor: pointer;
  background: #797979;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 2px;
}

.volume__progressLine::-webkit-slider-runnable-track {
  background: #797979;
  border-radius: 5px;
  height: 2px;
}

.volume__progressLine::-webkit-slider-thumb {
  appearance: none;
  background: #1a1a1a;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-top: -7px;
  position: relative;
}

.btn {
  cursor: pointer;
}

.btnIcon:hover svg {
  fill: #0000;
  stroke: #acacac;
  cursor: pointer;
}

.btnIcon:active svg {
  fill: #0000;
  stroke: #fff;
  cursor: pointer;
}

.btnIcon:active .trackPlay__likeSvg,
.btnIcon:active .trackPlay__dislikeSvg {
  fill: #696969;
  stroke: #fff;
  cursor: pointer;
}

.btn-text:hover {
  color: #d9b6ff;
  cursor: pointer;
  border-color: #d9b6ff;
}

.btn-text:active {
  color: #ad61ff;
  cursor: pointer;
  border-color: #ad61ff;
}

/*# sourceMappingURL=src_app_page_15038489.css.map*/
